html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#navbar {
    background-color: hwb(0 0% 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

#nav-list {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-size: 2.2em;
    padding: 1em 2em;
}

a:hover {
    background-color: white;
    color: black;
}